//#missions-available-headline,
//#missions-available,
//#missions-active-headline,
//#missions-active {
//  display: none;
//}

//#missions-overview h4 {
//  display: none;
//}

#ajax_content #page-missions .mission-filters-form fieldset label {
  width: initial;
}

#ajax_content #mission-filters {
  background: #333;
}

#mission-filters .mission-filters-form {
  padding-top: 10px;
}

#page-missions .mission-section h4 {
  font-size: 24px;
}

#mission-filters ul.multiselect-container .checkbox {
  padding-left: 0;
}

#mission-filters ul.multiselect-container .checkbox input {
  margin-right: 5px
}

#mission-filters ul.multiselect-container li>a {
  cursor: default;
  padding: 5px 0 1px 1px;
}

#mission-filters ul.multiselect-container li>a label {
  cursor: pointer;
  width: 100%;
  display: block;
}

#mission-filters ul.multiselect-container li>a:hover label {
  color: #000;
}

#mission-filters button.multiselect[title]:not([title="All selected"]) {
  background-color: rgb(76, 158, 32);
}

#mission-filters .other-filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mission-filters #mission-search {
  margin-left: 16px;
  width: 250px;
}

#mission-filters button.filterMissions {
  width: 100px;
  text-transform: uppercase;
}

#page-mission-links {
  padding-bottom: 5px;
}

#page-mission-links .btn {
  background: #e7be3d;
}

#page-mission-links .btn:hover {
  background: #eee;
}

#page-missions #activate-all-block .activateAllAvailable {
  width: 19%;
}

#page-missions #activate-all-block > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#page-missions #activate-all-block fieldset {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#page-missions .mission-section input[type='checkbox'] {
  background-color: rgb(28, 28, 28);
  color: rgb(231, 190, 61);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  border-image: initial;
  border-radius: 0px;
  width: 1.5em;
  height: 1.5em;
  margin: -4px 0px;

  &:hover {
    background-color: #000;
  }
}

#page-missions .mission-section label[for='hide-completed'],
#page-missions .mission-section label[for='mission_favourite_hide'] {
  color: #999;
  cursor: pointer;

  &:hover {
    color: rgb(231, 190, 61);
  }
}

#page-missions .mission-section .headline-icon.icon-caret-down {
  font-size: 24px;
  margin: 5px 0 0 4px;
  color: rgb(149, 211, 56);

  &:hover {
    color: darken(rgb(149, 211, 56), 20%)
  }
}

#page-missions .mission-section .headline-icon.icon-caret-right {
  font-size: 24px;
  margin: 5px 0 0 4px;
  color: rgb(249, 86, 13);

  &:hover {
    color: darken(rgb(249, 86, 13), 20%)
  }
}

#mission-filters h4,
#missions-favourites-headline,
#missions-active-headline,
#missions-available-headline,
#missions-packs-headline {
  color: white;
  box-shadow: rgb(0 0 0 / 40%) -2px 4px 2px;
  margin-bottom: 1px;
  padding: 10px;
  background: rgb(34, 34, 34);
  border-top: 1px solid rgb(66, 64, 67);
  border-left: 5px solid rgb(249, 86, 13);
}

#mission-filters h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#missions-active-headline {
  margin-bottom: -1px;
}

.mission-section .mission-counter {
  padding-top: 5px;
}

#ajax_content #page-missions .mission-section,
#ajax_content #page-missions2 .mission-section {
  border: 2px solid #202020;
}

#page-missions .icon-star.toggleFavourite,
#page-missions2 .icon-star.toggleFavourite {
  color: #f9560d;
}

#mission-completion #mission-completion {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.arrow-top {
  position: absolute;
  padding: 4px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 36px;
  color: black;
}

.hiddenBlock {
  display: none !important;
}

#ajax_content #page-missions .set-container,
#ajax_content #page-missions2 .set-container {
  background: transparent !important;
  margin: 2px 0;
}

#ajax_content #page-missions #missions-active {
  margin-top: 0;
}

#ajax_content #missions-active .active-mission-block .mission-container {
  margin: 4px 0;
  border: 0;
  border-top: 1px solid #424043;
}

#ajax_content #missions-available .mission-container {
  margin: 4px 0;
  border: 0;
  border-top: 1px solid #424043;
}

#ajax_content #missions-active .mission-row,
#ajax_content #missions-available .mission-row {
  padding: 2px !important;
}

#ajax_content #missions-active .mission-row:hover,
#ajax_content #missions-available .mission-row:hover{
  color: #F9560D;
}

#ajax_content #missions-active .mission-row .icon-paw-empty,
#ajax_content #missions-available .mission-row .icon-unlock {
  margin-top: 6px;
  visibility: hidden;
}

.mission-row .icon-angle-down {
  padding: 0;
  margin: 0;
  float: right;
  margin-left: 28px;
  position: absolute;
  top: 0;
  right: -16px;
  height: 100%;
  background: #f9370d;
  color: #f5f6f7;
}

.mission-row .icon-angle-down:hover {
  background: #2f2f2f;
}

.mission-info-text {
  background-color: #000;
  color: #BBB;
  border-radius: 10px;
  padding: 1px 7px;
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 0;
}

.mission-counter {
  display: inline-block;
  margin-right: 10px;
  float: right;
}

.mission-waiting {
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #3c3c3c;
  border-color: #161616;
  color: #999999;
}

.mission-objective-counter {
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #3c3c3c;
  border-color: #161616;
  color: #999999;
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

.mission-objective {
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #3c3c3c;
  border-color: #161616;
  color: #999999;
  min-width: 60px;
  display: inline-block;
  text-align: center;
}

.mission-reward {
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #3c3c3c;
  border-color: #161616;
  color: #999999;
  min-width: 40px;
  display: inline-block;
  text-align: center;
}

.mission-info-data {
  display: inline-block;
  margin-right: 10px;
}

.mission-info-line {
  min-width: 200px;
  display: inline-block;
}

.mission-animal-name {
  background-color: #222;
  color: #cccccc;
  padding: 1px 7px;
  border-radius: 10px;
}

.mission-started {
  color: #222;
  background-color: #cccccc;
}

.mission-not-active {
  color: #fff;
  background-color: #f9370d;
}

.mission-completed {
  background-color: #4c9e20;
  color: #fff;
}

.btn-primary.mission-animal-name {
  background: #3c3c3c;
}

.mission-container {
  border: 2px solid #222;
}

.mission-container .mission-row {
  background-color: #282729;
}

.mission-container .mission-row:hover {
  background-color: #161616 !important;
}

.mission-container .mission-row:hover > .mission-started {
  background-color: #f9560d !important;
}

.mission-preview-button {
  float: right;
}

#page-missions .set-info, #page-missions2 .set-info {
  padding: 2px !important;
}

#page-missions .set-info:hover {
  background-color: #161616 !important;
}

#missions-overview .mission-row {
  cursor: help !important;
}