#lodge-trophies-info {
  margin-top: -110px;
  color: red;
}

#lodge-section {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: auto;
}

.lodge-image {
  float: right;
  height: 64px;
  width: 64px;
  background: #f5f6f7;
  padding: 5px;
  border-bottom: 3px solid #4c9e20;
  margin-right: 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.lodge-image:hover {
  background-color: #191919;
}

.lodge-adjust {
  overflow: auto;
  width: 400px !important;
  height: 142px;
}

.lodge-medium {
  height: 48px;
  width: 48px;
}

.lodge-large {
  height: 32px;
  width: 32px;
}

.lodge-huge {
  height: 26px;
  width: 26px;
}

.trophy-image {
  float: left;
  height: 220px;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
}

.lodge-name {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  border-radius: 10px;
  padding: 1px 7px;
}

.lodge-alert {
  float: right;
}

#trophy-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80) !important;
  display: none;
  z-index: 9999;
  cursor: pointer;
}

#trophy-overlayContent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: none;
  overflow: hidden;
  z-index: 99999;
}

#trophy-imgBig {
  position: relative;
  max-height: 90%;
  top: 30px;
  left: auto;
  margin: 0 auto;
  cursor: pointer;
}

.screen-info {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);;
}

.trophy-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  background: rgb(0 0 0 / 50%);
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.trophy-close:hover {
  background: white;
  color: #000;
}

.trophy-text {
  position: relative;
  background-color: #111;
}

.trophy-mark {
  color: #E7BE3D;
}

.trophy-link {
  position: relative;
  bottom: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #aaaaaa;
  width: 100%;
  display: block;
}

.trophy-loader-zone {
  text-align: center;
}

.trophy-loader {
  border: 16px solid #aaaaaa;
  border-top: 16px solid #E7BE3D;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}