.competition-info-text {
  background-color: #000;
  color: #BBB;
  border-radius: 10px;
  padding: 1px 7px;
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 0;
}

.competition-banner-text {
  position: absolute;
  display: flex;
  bottom: 0;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-weight: 100;
  font-size: 38.5px;
  color: #fff;
  text-shadow: 0 1px 1px black;
}

.competition-style-animal {
  max-width: 40px;
  display: inline-block;
  float: left;
  padding: 3px;
}

#competitions-filter a {
  background: #222;
  display: inline-block;
  margin: 2px;
}

#competitions-filter a:hover {
  background: #191919;
}

#competitions-filter button {
  background: #3c3c3c;
  width: 252px;
  line-height: 34px;
}

#competitions-filter a:hover button {
  background: #191919;
}

#competitions-filter button.active {
  background: #000;
}

// HISTORY
#enrolled-competitions-region .paused_competition,
#competitions-list-region .paused_competition {
  color: #e7be3d !important;
}
#enrolled-competitions-region .paused_competition a,
#competitions-list-region .paused_competition {
  color: #e7be3d !important;
}
#enrolled-competitions-region .mCSB_dragger_bar {
  width: 15px;
}
#enrolled-competitions-region .mCSB_scrollTools .mCSB_dragger {
  cursor: grab;
}
#enrolled-competitions-region th,
#enrolled-competitions-region td {
  padding: 5px;
}
#enrolled-competitions-region tr {
  transition-duration: 2s;
  transition-property: background-color;
}
#enrolled-competitions-region tr:nth-child(odd) {
  background: #161616;
}
#enrolled-competitions-region .btn-join.btn-paused {
  background: #e7be3d;
  color: #333;
}
#enrolled-competitions-region .btn-join.btn-paused:hover {
  background: rgb(249, 86, 13);
  color: #333;
}
#enrolled-competitions-region .btn-leave.btn-paused:hover {
  background: #d5d5d5;
  color: #333;
}
#enrolled-competitions-region .btn-paused {
  background: #EEE;
  color: #333;
}
#enrolled-competitions-region .btn-pause {
  background: #e7be3d;
  padding: 4px;
}
#enrolled-competitions-region .btn-pause.active {
  background: #4c9e20;
}
#enrolled-competitions-region .btn-pause:hover {
  background: rgb(249, 86, 13);
}
#localCompetitions_counter {
  color: #e7be3d;
}
.animalEnrolled_counter {
  background: #e7be3d !important;
}
#competitions-filter-region button.active.animalEnrolled {
  background: #4c9e20 !important;
}


#competitions-list-region .competitions-table-rows tr:nth-child(odd) {
  background: #1c1c1c;
}

#competitions-list-region .competitions-table-rows .btn-ui[disabled] {
  background: #000;
  color: #999;
}

#competitions-list-region .btn-enrolled {
  background: #eee;
  color: #333;
  cursor: default;

  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}
#competitions-list-region .btn-saved {
  background: #3c3c3c;
  color: #fff;
  cursor: default;

  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

// HISTORY
#competitions-tab-region .nav-tabs li {
  border-right: none;
  border-bottom: 3px solid #4c9e20;
  padding: 5px;
  padding-bottom: 0;
  text-decoration: none;
  color: #666;
  border-bottom: 1px solid #111;
  font-weight: bold;
  border-top: none;
}
#competitions-tab-region .nav-tabs li.active a {
  border-bottom: 3px solid #4c9e20;
}
#competitions-tab-region .active a,
#competitions-tab-region .active a:hover,
#competitions-tab-region .active a:focus {
  border: 1px solid transparent;
  outline: none;
  outline-offset: initial;
}

#competitions-tab-region .nav-tabs li:hover {
  color: #FFF;
  background: #191919;
  -webkit-transition: color .2s linear, background .2s linear;
  -moz-transition: color .2s linear, background .2s linear;
  -o-transition: color .2s linear, background .2s linear;
  transition: color .2s linear, background .2s linear;
}


// ZYMETI LISTE KURIE PAUSED AR ENROLLED KAI SWITCHINA GYVUNA

//#competitions-filter-region {
//  display: none;
//}